* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}
.main {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-x: hidden;
	background: whitesmoke;
}

/* NAVIGATION */

/* SIDE SCROLL BAR*/

::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 6px;
}

/* DONATION 1*/

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: "Roboto", sans-serif;
}
img {
	width: 100%;
}

body {
	align-items: center;
	justify-content: center;
}

.blog-post {
	width: 70%;
	max-width: 98rem;
	padding: 5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: rgb(231 242 247);
	box-shadow: 0 1.4rem 8rem rgb(0 0 0 / 50%);
	display: flex;
	position: absolute;
	left: 100px;
	margin-top: 15%;
	border-radius: 1.8rem;
}

.blog-post_img {
	min-width: 35rem;
	max-width: 35rem;
	height: 30rem;
	transform: translatex(-8rem);
	position: relative;
	left: 90px;
}

.blog-post_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 0.8rem;
}

.blog-post_img::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0.5rem, 0.5rem, 3rem 1px rgba(0, 0, 0, 0.05);
	border-radius: 0.8;
}

.blog-post_date span {
	display: block;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.6rem;
	font-weight: 600;
	margin: -1;

	max-width: 100%;
	height: auto;
	font-size: 1vw;
	flex: auto;
}

.blog-post_title {
	font-size: 2.5rem;
	margin: 0rem 0 2rem;
	text-transform: uppercase;
	color: #545f69;

	max-width: 100%;
	height: auto;
	font-size: 2vw;
	flex: auto;
}

.blog-post_text {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: rgba(44, 39, 39, 0.7);
	line-height: 99%;

	max-width: 100%;
	height: auto;
	font-size: 1.2vw;
	flex: auto;
	float: left;
}

.blog-post_cta {
	display: inline-block;
	padding: 0.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #fff;
	background-image: linear-gradient(to right, #36454f 0%, #50404d 100%);
	border-radius: 0.8rem;
	text-decoration: none;

	height: auto;
	font-size: 1vw;
	flex: auto;
}

.blog-post_cta:hover {
	background-image: linear-gradient(to right, #c0c0c0 0%, #f5f5f5 100%);
}

@media screen and (max-width: 1068px) {
	.blog-post,
	.blog-post2,
	.blog-post3 {
		max-width: 70rem;
	}
}

@media screen and (max-width: 768px) {
	.blog-post,
	.blog-post2,
	.blog-post3 {
		padding: 2.5rem;
		flex-direction: column;
	}
	.blog-post_img,
	.blog-post_img2 {
		min-width: 100%;
		max-width: 100%;
		align-content: center;
		transform: translate(0, -8rem);
	}
}

/*BLOG POST 2*/

.blog-post2 {
	width: 70%;
	max-width: 98rem;
	padding: 5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: rgb(162 191 174 / 70%);
	box-shadow: 0 1.4rem 8rem rgb(0 0 0 / 50%);
	display: flex;
	position: absolute;
	left: 100px;
	margin-top: 60%;
	border-radius: 1.8rem;
}

.blog-post_img2 {
	min-width: 35rem;
	max-width: 35rem;
	height: 30rem;
	transform: translatex(-8rem);
	position: relative;
	left: 90px;
}

.blog-post_img2 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 0.8rem;
}

.blog-post_img2::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0.5rem, 0.5rem, 3rem 1px rgba(0, 0, 0, 0.05);
	border-radius: 0.8;
}

.blog-post_date2 span {
	display: block;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.6rem;
	font-weight: 600;
	margin: -1;

	max-width: 100%;
	height: auto;
	font-size: 1vw;
	flex: auto;
}

.blog-post_title2 {
	font-size: 2.5rem;
	margin: 0rem 0 2rem;
	text-transform: uppercase;
	color: #545f69;

	max-width: 100%;
	height: auto;
	font-size: 2vw;
	flex: auto;
}

.blog-post_text2 {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: rgba(44, 39, 39, 0.7);
	line-height: 99%;

	max-width: 100%;
	height: auto;
	font-size: 1.2vw;
	flex: auto;
	float: left;
}

.blog-post_cta2 {
	display: inline-block;
	padding: 0.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #fff;
	background-image: linear-gradient(to right, #36454f 0%, #50404d 100%);
	border-radius: 0.8rem;
	text-decoration: none;
	position: absolute;

	height: auto;
	flex: auto;
}

.blog-post_cta2:hover {
	background-image: linear-gradient(to right, #c0c0c0 0%, #f5f5f5 100%);
}

/*BLOG POST 3*/

.blog-post3 {
	width: 70%;
	max-width: 98rem;
	padding: 5rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
	background-color: #9f9981;
	box-shadow: 0 1.4rem 8rem rgb(0 0 0 / 50%);
	display: flex;
	position: absolute;
	left: 100px;
	margin-top: 105%;
	border-radius: 1.8rem;
}

.blog-post_img3 {
	min-width: 35rem;
	max-width: 35rem;
	height: 30rem;
	transform: translatex(-8rem);
	position: relative;
	left: 90px;
}

.blog-post_img3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: 0.8rem;
}

.blog-post_img3::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-shadow: 0.5rem, 0.5rem, 3rem 1px rgba(0, 0, 0, 0.05);
	border-radius: 0.8;
}

.blog-post_date3 span {
	display: block;
	color: rgba(0, 0, 0, 0.5);
	font-size: 1.6rem;
	font-weight: 600;
	margin: -1;

	max-width: 100%;
	height: auto;
	font-size: 1vw;
	flex: auto;
}

.blog-post_title3 {
	font-size: 2.5rem;
	margin: 0rem 0 2rem;
	text-transform: uppercase;
	color: #545f69;

	max-width: 100%;
	height: auto;
	font-size: 2vw;
	flex: auto;
}

.blog-post_text3 {
	margin-bottom: 2rem;
	font-size: 1.4rem;
	color: rgba(44, 39, 39, 0.7);
	line-height: 99%;

	max-width: 100%;
	height: auto;
	font-size: 1.2vw;
	flex: auto;
	float: left;
}

.blog-post_cta3 {
	display: inline-block;
	padding: 0.5rem 3rem;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-size: 1.2rem;
	color: #fff;
	background-image: linear-gradient(to right, #36454f 0%, #50404d 100%);
	border-radius: 0.8rem;
	text-decoration: none;
	position: absolute;

	height: auto;
	flex: auto;
}

.blog-post_cta3:hover {
	background-image: linear-gradient(to right, #c0c0c0 0%, #f5f5f5 100%);
}

/* TEXT */
.text_news_title {
	color: rgba(245, 245, 245);
	text-align: center;
	text-shadow: 2px 2px 4px #000000;
	font-size: 240%;
	font-weight: 900;
	font-family: "Montserrat", sans-serif;
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: -11%;
}

.chart {
	background: rgba(35, 26, 168, 0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	height: 40px;
	width: 350px;
	margin-bottom: 30px;
}
.chart span {
	/* You can modify the value below to change the distance between the percentage number and the bar */
	margin-left: 5px;
	color: #2c3539;
	font-weight: bolder;
}

.bar {
	/* You can modify the total time used for the animation here */
	animation: load 3s normal forwards;
	/* 
	Add a little spice by having a shadow below the bar.
	Feel free to comment out this line below to have an even LITE version :D 
	*/
	box-shadow: 0 10px 40px -10px rgb(0, 0, 0);

	border-radius: 100px;
	background: #36454f;
	height: 30px;
	width: 0;
}

/*BAR*/

.bar2 {
	/* You can modify the total time used for the animation here */
	animation: load 3s normal forwards;
	/* 
	Add a little spice by having a shadow below the bar.
	Feel free to comment out this line below to have an even LITE version :D 
	*/
	box-shadow: 0 10px 40px -10px rgb(0, 0, 0);

	border-radius: 100px;
	background: #36454f;
	height: 30px;
	width: 0;
}

.chart2 {
	background: rgba(35, 26, 168, 0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	height: 40px;
	width: 350px;
	margin-bottom: 30px;
}
.chart2 span {
	/* You can modify the value below to change the distance between the percentage number and the bar */
	margin-left: 5px;
	color: #2c3539;
	font-weight: bolder;
}

/*BAR3*/

.bar3 {
	/* You can modify the total time used for the animation here */
	animation: load 3s normal forwards;
	/* 
	Add a little spice by having a shadow below the bar.
	Feel free to comment out this line below to have an even LITE version :D 
	*/
	box-shadow: 0 10px 40px -10px rgb(0, 0, 0);

	border-radius: 100px;
	background: #36454f;
	height: 30px;
	width: 0;
}

.chart3 {
	background: rgba(35, 26, 168, 0.1);
	justify-content: flex-start;
	border-radius: 100px;
	align-items: center;
	position: relative;
	padding: 0 5px;
	display: flex;
	height: 40px;
	width: 350px;
	margin-bottom: 30px;
}
.chart3 span {
	/* You can modify the value below to change the distance between the percentage number and the bar */
	margin-left: 5px;
	color: #2c3539;
	font-weight: bolder;
}
