.u-section-1 .u-sheet-1 {
	min-height: 100vh;
}

.u-section-1 .u-blog-1 {
	margin-top: 23px;
	margin-bottom: 41px;
}

.u-section-1 .u-repeater-1 {
	grid-template-columns: 100%;
	grid-gap: 10px 10px;
	min-height: 738px;
}

.u-section-1 .u-repeater-item-1 {
	background-image: none;
}

.u-section-1 .u-container-layout-1 {
	padding: 18px 0;
}

.u-section-1 .u-image-1 {
	width: 1091px;
	height: 514px;
	margin: 0 auto;
}

.u-section-1 .u-text-1 {
	background-image: none;
	font-size: 2.25rem;
	margin: 18px -3px 0 27px;
}

.u-section-1 .u-text-2 {
	text-align: left;
	font-size: 1.25rem;
	margin: 12px 36px 0 24px;
}

.u-section-1 .u-btn-1 {
	font-style: normal;
	background-image: none;
	border-style: none;
	font-weight: 700;
	font-size: 1.25rem;
	margin: 36px auto 0 27px;
}

.u-section-1 .u-text-3 {
	margin: -35px 36px 0 988px;
}

@media (max-width: 1199px) {
	.u-section-1 .u-blog-1 {
		height: auto;
	}

	.u-section-1 .u-container-layout-1 {
		padding-top: 0;
		padding-bottom: 0;
	}

	.u-section-1 .u-image-1 {
		width: 924px;
		height: 442px;
		margin-top: 9px;
	}

	.u-section-1 .u-text-1 {
		width: auto;
		margin-top: 9px;
		margin-right: -17px;
		margin-left: 17px;
	}

	.u-section-1 .u-text-2 {
		width: auto;
		margin-top: 16px;
		margin-left: 17px;
		margin-right: 17px;
	}

	.u-section-1 .u-btn-1 {
		margin-top: 31px;
		margin-left: 17px;
	}

	.u-section-1 .u-text-3 {
		width: auto;
		margin-top: -24px;
		margin-right: 31px;
		margin-left: 793px;
	}
}

@media (max-width: 991px) {
	.u-section-1 .u-image-1 {
		width: 720px;
		height: 344px;
	}

	.u-section-1 .u-text-1 {
		margin-top: 237px;
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-1 .u-text-2 {
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-1 .u-btn-1 {
		margin-left: 0;
	}

	.u-section-1 .u-text-3 {
		margin-right: 0;
		margin-left: 604px;
	}
}

@media (max-width: 767px) {
	.u-section-1 .u-blog-1 {
		margin-bottom: 60px;
	}

	.u-section-1 .u-repeater-1 {
		min-height: 615px;
	}

	.u-section-1 .u-image-1 {
		width: 529px;
		height: 258px;
		margin-top: 16px;
	}

	.u-section-1 .u-text-1 {
		margin-top: 23px;
		margin-left: 12px;
		margin-right: 12px;
	}

	.u-section-1 .u-text-2 {
		margin-top: 10px;
		margin-right: 25px;
		margin-left: 12px;
	}

	.u-section-1 .u-btn-1 {
		margin-top: 25px;
		margin-left: 12px;
	}

	.u-section-1 .u-text-3 {
		margin-top: -35px;
		margin-right: 12px;
		margin-left: 413px;
	}
}

@media (max-width: 575px) {
	.u-section-1 .u-sheet-1 {
		min-height: 509px;
	}

	.u-section-1 .u-blog-1 {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.u-section-1 .u-repeater-1 {
		min-height: 461px;
	}

	.u-section-1 .u-container-layout-1 {
		padding-top: 14px;
	}

	.u-section-1 .u-image-1 {
		width: 329px;
		height: 166px;
		margin-top: 0;
	}

	.u-section-1 .u-text-1 {
		font-size: 1.5rem;
		margin-top: 10px;
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-1 .u-text-2 {
		font-size: 1.125rem;
		margin-top: 16px;
		margin-right: -3px;
		margin-left: 3px;
	}

	.u-section-1 .u-btn-1 {
		margin-top: 33px;
		margin-left: 0;
	}

	.u-section-1 .u-text-3 {
		margin-right: -3px;
		margin-left: 227px;
	}
}
.u-section-2 .u-sheet-1 {
	min-height: 740px;
}

.u-section-2 .u-blog-1 {
	margin: 43px 0 60px;
}

.u-section-2 .u-repeater-1 {
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	grid-gap: 10px 10px;
	min-height: 575px;
}

.u-section-2 .u-container-layout-1 {
	padding: 30px 10px 24px;
}

.u-section-2 .u-text-1 {
	margin: 11px 20px 0;
}

.u-section-2 .u-image-1 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-2 .u-text-2 {
	margin: 20px 20px 0;
}

.u-section-2 .u-btn-1 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-2 .u-metadata-1 {
	margin: -37px 20px 0 auto;
}

.u-section-2 .u-container-layout-2 {
	padding: 30px 10px 24px;
}

.u-section-2 .u-text-3 {
	margin: 11px 20px 0;
}

.u-section-2 .u-image-2 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-2 .u-text-4 {
	margin: 20px 20px 0;
}

.u-section-2 .u-btn-2 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-2 .u-metadata-2 {
	margin: -37px 20px 0 auto;
}

@media (max-width: 1199px) {
	.u-section-2 .u-sheet-1 {
		min-height: 526px;
	}

	.u-section-2 .u-blog-1 {
		height: auto;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-2 .u-repeater-1 {
		min-height: 595px;
	}

	.u-section-2 .u-text-1 {
		margin-top: 18px;
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-2 .u-image-1 {
		margin-top: 20px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-2 .u-text-2 {
		margin-right: 0;
	}

	.u-section-2 .u-btn-1 {
		margin-right: 159px;
	}

	.u-section-2 .u-metadata-1 {
		margin-right: 0;
	}

	.u-section-2 .u-text-3 {
		margin-right: 0;
		margin-left: 0;
	}

	.u-section-2 .u-image-2 {
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-2 .u-text-4 {
		margin-right: 0;
	}

	.u-section-2 .u-btn-2 {
		margin-top: 68px;
		margin-right: 159px;
		padding: 0;
	}

	.u-section-2 .u-metadata-2 {
		margin-top: -17px;
		margin-right: 0;
	}
}

@media (max-width: 991px) {
	.u-section-2 .u-repeater-1 {
		grid-template-columns: 100%;
	}

	.u-section-2 .u-btn-1 {
		margin-right: 0;
	}

	.u-section-2 .u-btn-2 {
		margin-right: 0;
	}
}

@media (max-width: 575px) {
	.u-section-2 .u-text-1 {
		margin-top: 44px;
	}

	.u-section-2 .u-image-1 {
		margin-top: 8px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-2 .u-image-2 {
		margin-top: 66px;
		margin-right: initial;
		margin-left: initial;
	}
}
.u-section-3 .u-sheet-1 {
	min-height: 598px;
}

.u-section-3 .u-blog-1 {
	margin-top: -47px;
	margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	grid-gap: 10px 10px;
	min-height: 575px;
}

.u-section-3 .u-container-layout-1 {
	padding: 30px 10px 24px;
}

.u-section-3 .u-text-1 {
	margin: 11px 20px 0;
}

.u-section-3 .u-image-1 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-3 .u-text-2 {
	margin: 20px 20px 0;
}

.u-section-3 .u-btn-1 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-3 .u-metadata-1 {
	margin: -37px 20px 0 auto;
}

.u-section-3 .u-container-layout-2 {
	padding: 30px 10px 24px;
}

.u-section-3 .u-text-3 {
	margin: 11px 20px 0;
}

.u-section-3 .u-image-2 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-3 .u-text-4 {
	margin: 20px 20px 0;
}

.u-section-3 .u-btn-2 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-3 .u-metadata-2 {
	margin: -37px 20px 0 auto;
}

@media (max-width: 1199px) {
	.u-section-3 .u-sheet-1 {
		min-height: 526px;
	}

	.u-section-3 .u-blog-1 {
		height: auto;
	}

	.u-section-3 .u-repeater-1 {
		min-height: 595px;
	}

	.u-section-3 .u-text-1 {
		margin-top: 18px;
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-3 .u-image-1 {
		margin-top: 20px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-3 .u-text-2 {
		margin-right: 0;
	}

	.u-section-3 .u-btn-1 {
		margin-right: 159px;
	}

	.u-section-3 .u-metadata-1 {
		margin-right: 0;
	}

	.u-section-3 .u-text-3 {
		margin-right: 0;
		margin-left: 0;
	}

	.u-section-3 .u-image-2 {
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-3 .u-text-4 {
		margin-right: 0;
	}

	.u-section-3 .u-btn-2 {
		margin-top: 68px;
		margin-right: 159px;
		padding: 0;
	}

	.u-section-3 .u-metadata-2 {
		margin-top: -17px;
		margin-right: 0;
	}
}

@media (max-width: 991px) {
	.u-section-3 .u-repeater-1 {
		grid-template-columns: 100%;
	}

	.u-section-3 .u-btn-1 {
		margin-right: 0;
	}

	.u-section-3 .u-btn-2 {
		margin-right: 0;
	}
}

@media (max-width: 575px) {
	.u-section-3 .u-text-1 {
		margin-top: 44px;
	}

	.u-section-3 .u-image-1 {
		margin-top: 8px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-3 .u-image-2 {
		margin-top: 66px;
		margin-right: initial;
		margin-left: initial;
	}
}
.u-section-4 {
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("images/flood.jpg");
	background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
	min-height: 660px;
}

.u-section-4 .u-text-1 {
	text-transform: uppercase;
	font-size: 6rem;
	font-weight: 700;
	margin: 101px auto 0 0;
}

.u-section-4 .u-text-2 {
	margin: 34px 101px 0 16px;
}

.u-section-4 .u-btn-1 {
	background-image: none;
	text-transform: uppercase;
	font-size: 1.5rem;
	border-style: solid;
	font-weight: 700;
	margin: 227px auto 41px 0;
	padding: 6px 44px 7px 42px;
}

@media (max-width: 1199px) {
	.u-section-4 .u-sheet-1 {
		min-height: 544px;
	}

	.u-section-4 .u-text-2 {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 991px) {
	.u-section-4 .u-sheet-1 {
		min-height: 417px;
	}
}

@media (max-width: 767px) {
	.u-section-4 .u-sheet-1 {
		min-height: 313px;
	}

	.u-section-4 .u-text-1 {
		font-size: 3.75rem;
	}
}

@media (max-width: 575px) {
	.u-section-4 .u-sheet-1 {
		min-height: 197px;
	}

	.u-section-4 .u-text-1 {
		font-size: 3rem;
	}
}
.u-section-5 .u-sheet-1 {
	min-height: 740px;
}

.u-section-5 .u-blog-1 {
	margin: 79px 0 60px;
}

.u-section-5 .u-repeater-1 {
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	grid-gap: 10px 10px;
	min-height: 575px;
}

.u-section-5 .u-container-layout-1 {
	padding: 30px 10px 24px;
}

.u-section-5 .u-text-1 {
	margin: 11px 20px 0;
}

.u-section-5 .u-image-1 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-5 .u-text-2 {
	margin: 20px 20px 0;
}

.u-section-5 .u-btn-1 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-5 .u-metadata-1 {
	margin: -37px 20px 0 auto;
}

.u-section-5 .u-container-layout-2 {
	padding: 30px 10px 24px;
}

.u-section-5 .u-text-3 {
	margin: 11px 20px 0;
}

.u-section-5 .u-image-2 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-5 .u-text-4 {
	margin: 20px 20px 0;
}

.u-section-5 .u-btn-2 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-5 .u-metadata-2 {
	margin: -37px 20px 0 auto;
}

@media (max-width: 1199px) {
	.u-section-5 .u-sheet-1 {
		min-height: 526px;
	}

	.u-section-5 .u-blog-1 {
		height: auto;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-5 .u-repeater-1 {
		min-height: 595px;
	}

	.u-section-5 .u-text-1 {
		margin-top: 18px;
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-5 .u-image-1 {
		margin-top: 20px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-5 .u-text-2 {
		margin-right: 0;
	}

	.u-section-5 .u-btn-1 {
		margin-right: 159px;
	}

	.u-section-5 .u-metadata-1 {
		margin-right: 0;
	}

	.u-section-5 .u-text-3 {
		margin-right: 0;
		margin-left: 0;
	}

	.u-section-5 .u-image-2 {
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-5 .u-text-4 {
		margin-right: 0;
	}

	.u-section-5 .u-btn-2 {
		margin-top: 68px;
		margin-right: 159px;
		padding: 0;
	}

	.u-section-5 .u-metadata-2 {
		margin-top: -17px;
		margin-right: 0;
	}
}

@media (max-width: 991px) {
	.u-section-5 .u-repeater-1 {
		grid-template-columns: 100%;
	}

	.u-section-5 .u-btn-1 {
		margin-right: 0;
	}

	.u-section-5 .u-btn-2 {
		margin-right: 0;
	}
}

@media (max-width: 575px) {
	.u-section-5 .u-text-1 {
		margin-top: 44px;
	}

	.u-section-5 .u-image-1 {
		margin-top: 8px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-5 .u-image-2 {
		margin-top: 66px;
		margin-right: initial;
		margin-left: initial;
	}
}
.u-section-6 .u-sheet-1 {
	min-height: 740px;
}

.u-section-6 .u-blog-1 {
	margin-top: -16px;
	margin-bottom: 60px;
}

.u-section-6 .u-repeater-1 {
	grid-template-columns: calc(50% - 5px) calc(50% - 5px);
	grid-gap: 10px 10px;
	min-height: 575px;
}

.u-section-6 .u-container-layout-1 {
	padding: 30px 10px 24px;
}

.u-section-6 .u-text-1 {
	margin: 11px 20px 0;
}

.u-section-6 .u-image-1 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-6 .u-text-2 {
	margin: 20px 20px 0;
}

.u-section-6 .u-btn-1 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-6 .u-metadata-1 {
	margin: -37px 20px 0 auto;
}

.u-section-6 .u-container-layout-2 {
	padding: 30px 10px 24px;
}

.u-section-6 .u-text-3 {
	margin: 11px 20px 0;
}

.u-section-6 .u-image-2 {
	height: 298px;
	margin: 27px 20px 0;
}

.u-section-6 .u-text-4 {
	margin: 20px 20px 0;
}

.u-section-6 .u-btn-2 {
	border-style: solid;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: normal;
	margin: 30px 359px 0 20px;
}

.u-section-6 .u-metadata-2 {
	margin: -37px 20px 0 auto;
}

@media (max-width: 1199px) {
	.u-section-6 .u-sheet-1 {
		min-height: 526px;
	}

	.u-section-6 .u-blog-1 {
		height: auto;
	}

	.u-section-6 .u-repeater-1 {
		min-height: 595px;
	}

	.u-section-6 .u-text-1 {
		margin-top: 18px;
		margin-left: 0;
		margin-right: 0;
	}

	.u-section-6 .u-image-1 {
		margin-top: 20px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-6 .u-text-2 {
		margin-right: 0;
	}

	.u-section-6 .u-btn-1 {
		margin-right: 159px;
	}

	.u-section-6 .u-metadata-1 {
		margin-right: 0;
	}

	.u-section-6 .u-text-3 {
		margin-right: 0;
		margin-left: 0;
	}

	.u-section-6 .u-image-2 {
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-6 .u-text-4 {
		margin-right: 0;
	}

	.u-section-6 .u-btn-2 {
		margin-top: 68px;
		margin-right: 159px;
		padding: 0;
	}

	.u-section-6 .u-metadata-2 {
		margin-top: -17px;
		margin-right: 0;
	}
}

@media (max-width: 991px) {
	.u-section-6 .u-repeater-1 {
		grid-template-columns: 100%;
	}

	.u-section-6 .u-btn-1 {
		margin-right: 0;
	}

	.u-section-6 .u-btn-2 {
		margin-right: 0;
	}
}

@media (max-width: 575px) {
	.u-section-6 .u-text-1 {
		margin-top: 44px;
	}

	.u-section-6 .u-image-1 {
		margin-top: 8px;
		margin-right: initial;
		margin-left: initial;
	}

	.u-section-6 .u-image-2 {
		margin-top: 66px;
		margin-right: initial;
		margin-left: initial;
	}
}
.u-section-7 {
	background-image: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		),
		url("images/refugees1.jpg");
	background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
	min-height: 706px;
}

.u-section-7 .u-text-1 {
	text-transform: uppercase;
	font-size: 6rem;
	font-weight: 700;
	margin: 140px auto 0 20px;
}

.u-section-7 .u-text-2 {
	margin: 40px 97px 0 20px;
}

.u-section-7 .u-btn-1 {
	background-image: none;
	padding: 0;
}

.u-section-7 .u-btn-2 {
	background-image: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.5rem;
	border-style: solid;
	margin: 211px auto 60px 0;
	padding: 5px 44px 7px 42px;
}

@media (max-width: 1199px) {
	.u-section-7 .u-sheet-1 {
		min-height: 582px;
	}

	.u-section-7 .u-text-1 {
		margin-left: 0;
	}

	.u-section-7 .u-text-2 {
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 991px) {
	.u-section-7 .u-sheet-1 {
		min-height: 446px;
	}
}

@media (max-width: 767px) {
	.u-section-7 .u-sheet-1 {
		min-height: 335px;
	}

	.u-section-7 .u-text-1 {
		font-size: 3.75rem;
	}
}

@media (max-width: 575px) {
	.u-section-7 .u-sheet-1 {
		min-height: 211px;
	}

	.u-section-7 .u-text-1 {
		font-size: 3rem;
	}
}
